CREATE TABLE montir_ai_usage ( id uuid DEFAULT gen_random_uuid() PRIMARY KEY, partner_id uuid NOT NULL, customer_phone text NOT NULL, license_plate text NOT NULL, created_at timestamp with time zone DEFAULT timezone('utc'::text, now()) NOT NULL );
